@font-face {
  font-family: 'UPIcons';
  src:  url('https://bettyleg.github.io/UnderPressure/UPIcons.eot');
  src:  url('https://bettyleg.github.io/UnderPressure/UPIcons.eot') format('embedded-opentype'),
    url('https://bettyleg.github.io/UnderPressure/UPIcons.ttf') format('truetype'),
    url('https://bettyleg.github.io/UnderPressure/UPIcons.woff') format('woff'),
    url('https://bettyleg.github.io/UnderPressure/UPIcons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="upicons-"], [class*=" upicons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'UPIcons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.upicons-universitarios:before {
  content: "\e908";
}
.upicons-personaluniversitario:before {
  content: "\e905";
}
.upicons-deltachi:before {
  content: "\e907";
}
.upicons-staff:before {
  content: "\e900";
}
.upicons-sigmapsi:before {
  content: "\e901";
}
.upicons-betaphi:before {
  content: "\e902";
}
.upicons-epsilonnu:before {
  content: "\e903";
}
.upicons-kappagamma:before {
  content: "\e904";
}
.upicons-negocios:before {
  content: "\e909";
}
.upicons-ciudadanos:before {
  content: "\e906";
}
